html {
@reference "tailwindcss";
  @apply bg-gray-900 px-10;
  scroll-behavior: smooth
}

body {
     @reference "tailwindcss";
  @apply mt-10;
}

h1 {
     @reference "tailwindcss";
  @apply text-3xl text-white my-5;
}

h2 {
     @reference "tailwindcss";
  @apply text-2xl text-blue-500 my-5;
}

h3 {
     @reference "tailwindcss";
  @apply text-xl text-white my-5;
}

p {
     @reference "tailwindcss";
  @apply text-white my-5;
}

a {
     @reference "tailwindcss";
  @apply text-blue-500 hover:underline;
}
